<footer>
    <div class="sub-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 offset-sm-2 no-padding">
                    <form id="formNewsletter">
                        <input type="email" id="email" class="sub-email" placeholder="{{ iniDicionary['SUBSCRIBETEXT'] }}">
                        <input type="submit" value="{{ iniDicionary['SUBSCRIBEBUTTON'] }}" name="subscribe" id="subscribe" class="btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 logo-footer">
                    <a href="{{ BASE_URL }}"><img title="Brumas Delivery" src="{{ BASE_URL }}/assets/images/logo-red.png" /></a>
                    <br/><br/>
                    <strong>Impossível viver sem, a qualquer hora de qualquer lugar!</strong><br/><br/>
                </div>
                <div class="col-sm-8 link-groups">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>{{ iniDicionary['CATEGORIES'] }}</h3>
                            <ul>
                                <li><a href="#">Categoria X</a></li>
                                <li><a href="#">Categoria X</a></li>
                                <li><a href="#">Categoria X</a></li>
                                <li><a href="#">Categoria X</a></li>
                                <li><a href="#">Categoria X</a></li>
                                <li><a href="#">Categoria X</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3>{{ iniDicionary['INFORMATIONS'] }}</h3>
                            <ul>
                                <li><a href="#">Menu 1</a></li>
                                <li><a href="#">Menu 2</a></li>
                                <li><a href="#">Menu 3</a></li>
                                <li><a href="#">Menu 4</a></li>
                                <li><a href="#">Menu 5</a></li>
                                <li><a href="#">Menu 6</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3>{{ iniDicionary['INFORMATIONS'] }}</h3>
                            <ul>
                                <li><a href="#">Menu 1</a></li>
                                <li><a href="#">Menu 2</a></li>
                                <li><a href="#">Menu 3</a></li>
                                <li><a href="#">Menu 4</a></li>
                                <li><a href="#">Menu 5</a></li>
                                <li><a href="#">Menu 6</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">© <span>Brumas Delivery</span> - {{ iniDicionary['ALLRIGHTRESERVED'] }}.</div>
                <div class="col-sm-6">
                    <div class="payments">
                        <img src="{{ BASE_URL }}/assets/images/visa.png" />
                        <img src="{{ BASE_URL }}/assets/images/visa.png" />
                        <img src="{{ BASE_URL }}/assets/images/visa.png" />
                        <img src="{{ BASE_URL }}/assets/images/visa.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>