<footer>
    {# <div class="sub-area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 offset-sm-2 no-padding">
                    <form id="formNewsletter">
                        <input type="email" id="email" class="sub-email" placeholder="{{ iniDicionary['SUBSCRIBETEXT'] }}">
                        <input type="submit" value="{{ iniDicionary['SUBSCRIBEBUTTON'] }}" name="subscribe" id="subscribe" class="btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div> #}
    
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 logo-footer">
                    <a href="{{ BASE_URL }}"><img title="Brumas Delivery" src="/assets/images/logo-brumas-delivery-red.png"/></a>
                    <br/><br/>
                    <div class="footer-text">Impossível viver sem, a qualquer hora de qualquer lugar!</div>
                </div>
                <div class="col-sm-9 link-groups">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Contato</h3>
                            
                            <ul>
                                <li>
                                    <i class="fas fa-phone-alt text-primary mr-2"></i>(77) 9999-9999
                                </li>

                                <li>
                                    <i class="fas fa-envelope text-primary mr-2"></i>contato@<span class="text-primary">brumasdelivery.com.br</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3>Informações</h3>
                            
                            <ul>
                                <li><a href="#">Termos de uso</a></li>
                                <li><a href="#">Código de conduta</a></li>
                                <li><a href="#">Privacidade</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3>Navegação</h3>
                            
                            <ul>
                                {% if userIsLogged() %}
                                    <li><a href="{{ route('name.account-profile') }}">
                                        Perfil
                                    </a></li>
                            
                                {% if userIsAuthorized(['admin', 'partner']) %}
                                    <li><a href="{{ route('name.restaurant-details') }}">
                                        Meu Restaurante
                                    </a></li>
                                {% endif %}
                                    <li><a href="{{ route('name.account-orders') }}"> 
                                        Meus Pedidos
                                    </a></li>

                                    <li><a href="{{ route('name.logout') }}">
                                        Sair
                                    </a></li>
                                {% else %}
                                    <li><a href="{{ route('name.login') }}">
                                        {{ iniDicionary['LOGIN'] }}
                                    </a></li>

                                    <li><a href="{{ route('name.register-customer') }}">
                                        {{ iniDicionary['REGISTER'] }}
                                    </a></li>

                                    <li><a href="{{ route('name.register-partner') }}">
                                        {{ iniDicionary['BEAPARTNER'] }}
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container text-center">
            © <span>Brumas Delivery</span> - {{ iniDicionary['ALLRIGHTRESERVED'] }}.
        </div>
    </div>
</footer>