{% extends "templates/base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/pages/home/home.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/pages/home/modals/newsletter.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/pages/restaurant/restaurantItem.css" type="text/css" />
{% endblock css %}

{% block content %}
    <div class="category-area">
        <div class="container">
        <section id="category-slide">
            {% for category in categories %}
                {% set categoryImgPath = '/media/categories/'~pathinfo(category['image'])['filename']~'/'~category['image'] %}

                {% set url = GET_URL %}
                                
                {% set url = url|merge({'category': category['id_category']}) %}
                
                {% set url = http_build_query(url) %}
                
                <div class="content category-{{ category['id_category'] }}">
                    <a href="/?category={{ category['id_category'] }}">
                        <img src="{{ categoryImgPath }}" width="150">
                        <span>{{ category['name'] }}</span>
                    </a>
                </div>
            {% endfor %}
        </section>
        </div>	
    </div>

    <section class="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <aside>
                        <h1>{{ iniDicionary['FILTERBY'] }}:</h1>
                        <div class="filter-area mb-1">
                            <form method="GET">
                                <input type="hidden" name="filters[search]" value="{{ (notEmpty(filtersSelected['search']) ? filtersSelected['search'] : '') }}">
                                <input type="hidden" name="filters[category]" value="{{ (notEmpty(filtersSelected['category']) ? filtersSelected['category'] : '') }}">

                                <div class="filter-box neighborhood">
                                    <div class="filter-title">{{ iniDicionary['NEIGHBORHOODS'] }}</div>
                                    <div class="filter-content">
                                        {% for restaurantByNeighborhood in filters['restaurantsByNeighborhoods'] %}
                                            {% set checked = (notEmpty(filtersSelected['neighborhood']) and in_array(restaurantByNeighborhood['neighborhood_id'], filtersSelected['neighborhood']))? 'checked="checked"' : '' %}

                                            {% set noneItem = (empty(restaurantByNeighborhood['total_restaurants_by_neighborhoods']) ? 'none-item' : '') %}
                                            
                                            <div class='filter-item'>
                                                <div class="custom-control custom-checkbox float-left my-auto">
                                                    <input type="checkbox" class="custom-control-input" name='filters[neighborhood][]' id="box-neighborhood-{{ restaurantByNeighborhood['neighborhood_id'] }}" value="{{ restaurantByNeighborhood['neighborhood_id'] }}" {{ checked }}>

                                                    <label class="custom-control-label" for="box-neighborhood-{{ restaurantByNeighborhood['neighborhood_id'] }}">
                                                        {{ filters['neighborhoods'][restaurantByNeighborhood['neighborhood_id']-1]['name'] }}
                                                    </label>
                                                </div>
                                                
                                                <div class='float-right {{ noneItem }}'>({{ restaurantByNeighborhood['total_restaurants_by_neighborhoods'] }})
                                                </div>
                                            </div>
                                        {% endfor %}
                                        
                                    </div>
                                    <a href="javascript:void(0)" class="show-all"><i class="fas fa-plus"></i> Mostrar Todos</a>
                                    <a href="javascript:void(0)" class="show-less d-none"><i class="fas fa-minus"></i> Mostrar Menos</a>
                                </div>
                        
                                <div class="filter-box">
                                    <div class="filter-title">
                                        {{ iniDicionary['RATINGS'] }}
                                    </div>									

                                    <div class="filter-content">
                                        <div class="filter-item formm-check">
                                            <div class="float-left">
                                                {% set noneItem = (empty(filters['totalRatingsByStars']) ? 'none-item' : '') %}
                                                
                                                <div class="rating-filter-page-home rating"></div>
                                                <input type="hidden" name="filters[rating]" class="rating-page-home" value="{{ filters['ratingSelected'] }}">
                                            </div>
                                            <div class="float-right {{ noneItem }}">
                                                ({{ filters['totalRatingsByStars'] }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter-box">
                                    <div class="filter-title">{{ iniDicionary['PROMOTIONS'] }}</div>
                                    <div class="filter-content">
                                        <div class="filter-item">
                                            <div class="custom-control custom-checkbox float-left my-auto">
                                                {% set checked = (notEmpty(filtersSelected['promotion']) and in_array(0, filtersSelected['promotion']))? 'checked="checked"' : '' %}

                                                {% set noneItem = (empty(filters['restaurantsInPromotion']) ? 'none-item' : '') %}

                                                <input type="checkbox" class="custom-control-input" name="filters[promotion][]" value="0" id="box-promotion" {{ checked }}>

                                                <label class="custom-control-label" for="box-promotion">
                                                    {{ iniDicionary['INPROMOTION'] }}
                                                </label>
                                            </div>

                                            <div class="float-right {{ noneItem }}">({{ filters['restaurantsInPromotion'] }})</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-box">
                                    <div class="filter-title">{{ iniDicionary['OPERATION'] }}</div>
                                    <div class="filter-content">
                                        {% for weekDay in filters['weekDays'] %}
                                            {% set checked = (notEmpty(filtersSelected['weekDay']) and in_array(weekDay['id_week_day'], filtersSelected['weekDay']))? 'checked="checked"' : '' %}

                                            {% set noneItem = (empty(weekDay['count']) ? 'none-item' : '') %}
                                            
                                            <div class='filter-item'>
                                                <div class="custom-control custom-checkbox float-left my-auto">
                                                    <input type="checkbox" class="custom-control-input" name='filters[weekDay][]' id="box-week-day-{{ weekDay['id_week_day'] }}" value="{{ weekDay['id_week_day'] }}" {{ checked }}>

                                                    <label class="custom-control-label" for="box-week-day-{{ weekDay['id_week_day'] }}">
                                                        {{ weekDay['name'] }}
                                                    </label>
                                                </div>

                                                <div class='float-right {{ noneItem }}'>({{ weekDay['count'] }})
                                                </div>
                                            </div>
                                        {% endfor %}
                                        
                                        <div class="border-filter"></div>

                                        <div class="filter-item">
                                            <div class="row no-gutters">
                                                <div class="col-md-6 text-left">
                                                    {% set checked = (notEmpty(filtersSelected['status']) and in_array(1, filtersSelected['status']))? 'checked="checked"' : '' %}

                                                    {% set noneItem = (empty(filters['restaurantsOpen']) ? 'none-item' : '') %}														
                                                    <div class="custom-control custom-checkbox float-left my-auto">
                                                        <input type="checkbox" class="custom-control-input" name="filters[status][]" id="box-status-open" value="1" {{ checked }}>
    
                                                        <label class="custom-control-label" for="box-status-open">
                                                            Aberto
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 text-right {{ noneItem }}">({{ filters['restaurantsOpen'] }})</div>
                                            </div>
                                        </div>

                                        <div class="filter-item">
                                            <div class="row no-gutters">
                                                <div class="col-md-6 text-left">
                                                    {% set checked = (notEmpty(filtersSelected['status']) and in_array(0, filtersSelected['status']))? 'checked="checked"' : '' %}

                                                    {% set noneItem = (empty(filters['restaurantsClosed']) ? 'none-item' : '') %}
                                                    
                                                    <div class="custom-control custom-checkbox float-left my-auto">
                                                        <input type="checkbox" class="custom-control-input" name="filters[status][]" id="box-status-closed" value="0" {{ checked }}>
    
                                                        <label class="custom-control-label" for="box-status-closed">
                                                            Fechado
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-right {{ noneItem }}">({{ filters['restaurantsClosed'] }})</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="filter-box">
                                    <div class="filter-title">{{ iniDicionary['PAYMENTTYPES'] }}</div>
                                    <div class="filter-content">
                                        <select class="payment-type" name="filters[paymentType][]" multiple="multiple">
                                            {% set selectedAll = empty(array_filter(filtersSelected['paymentType'])) ? true : false %}

                                            {% for paymentType in filters['paymentTypes'] %}
                                                {% set selected = (notEmpty(filtersSelected['paymentType']) and in_array(paymentType['id_payment_types'], filtersSelected['paymentType']))? 'selected="selected"' : '' %}

                                                <option class="form-check-input" value="{{ paymentType['id_payment_types'] }}" {{ selected }}>{{ paymentType['name'] }}</option>
                                            {% endfor %}
                                            
                                            <!-- Option default  -->
                                            {% if selectedAll %}
                                                <option value="" selected="selected">Todos os Tipos</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="widget-small">
                            <h1>{{ iniDicionary['FEATUREDS'] }}</h1>
                            <div class="widget-body">
                                {% for widget in sidebarWidgetsFeatureds %}
                                    {% include 'pages/restaurant/restaurantItemSmall.html.twig' with {'widget': widget } %}
                                {% endfor %}
                            </div>
                        </div>
                    </aside> 
                </div>
                <!-- Restaurants -->
                <div class="col-sm-9">
                    <h1>Resultados encontrados para "{{ (notEmpty(categoryName) ? categoryName : 'Todas as categorias') }}":</h1>

                    <div class="row restaurants">
                    
                        {% for restaurant in restaurants %}
                            {% set mainCategories = explode(',', restaurant['main_categories']) %}
                            {% set mainCategoriesNamesArr = [] %}

                            {% for mainCategory in mainCategories %}
                                {% if mainCategory == categories[mainCategory - 1]['id_category'] %}
                                    {% set mainCategoriesNamesArr = mainCategoriesNamesArr|merge([categories[mainCategory - 1]['name']]) %}
                                    
                                    {% set restaurant = restaurant|merge({'main_categories_name': mainCategoriesNamesArr}) %}
                                {% endif %}
                            {% endfor %}
                        
                            {% for restaurantOpen in restaurantsOpen %}
                                {% if restaurantOpen['restaurant_id'] == restaurant['id_restaurant'] %}
                                    {% set restaurant = restaurant|merge({'status': 1}) %}
                                {% endif %}
                            {% endfor %}

                            {% for restaurantClosed in restaurantsClosed %}
                                {% if restaurantClosed['restaurant_id'] == restaurant['id_restaurant'] %}
                                    {% set restaurant = restaurant|merge({'status': 0}) %}
                                {% endif %}
                            {% endfor %}

                            {% set restaurant = restaurant|merge({'onsale': 0}) %}
                            {% for restaurantInPromotion in restaurantsInPromotion %}
                                {% if restaurantInPromotion['id_restaurant'] == restaurant['id_restaurant'] %}
                                    {% set restaurant = restaurant|merge({'onsale': 1}) %}
                                {% endif %}
                            {% endfor %}

                            <div class="col-sm-4 px-2 pb-3 restaurant-item">
                                {% include "pages/restaurant/restaurantItem.html.twig" with restaurant %}
                            </div>
                        {% endfor %}
                    </div>

                    {% if numberPages %}
                        <div class="float-right">
                            <nav aria-label="pagination">
                                <ul class="pagination ml-1"> 
                                    {# <li class="page-item disabled">
                                        <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
                                    </li> #}

                                    {% for p in 1 .. numberPages %}
                                        {% if currentPage == loop.index %}
                                            {% set active = "active" %}
                                        {% else %}
                                            {% set active = "" %}
                                        {% endif %}
        
                                        {% set url = GET_URL %}
                                        
                                        {% set url = url|merge({'p': loop.index}) %}
                                        
                                        {% set url = http_build_query(url) %}
        
                                        {% set colorPagination = empty(active) ? "text-dark" : "" %}
        
                                        <li class="page-item {{ active }}"><a class="page-link {{ colorPagination }}" href="/?{{ url }}">{{ p }}</a></li>
                                    {% endfor %}
        
                                    {# <li class="page-item">
                                        <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                    </li> #}
                                </ul>
                            </nav>
                        </div>
                    {% else %}
                        <div>Nenhum restaurante encontrado!</div>
                    {% endif %}
                </div>
            </div>

            <div class="row my-3">
                <div class="col-sm-4">
                    <div class="widget-medium">
                        <h1>{{ iniDicionary['ONSALE'] }}</h1>
                        <div class="widget-body">
                            {% for widget in footerWidgetsOnSale %}
                                {% include 'pages/restaurant/restaurantItemMedium.html.twig' with {'widget': widget } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget-medium">
                        <h1>{{ iniDicionary['TOPRATEDS'] }}</h1>
                        <div class="widget-body">
                            {% for widget in footerWidgetsTopRateds %}
                                {% include 'pages/restaurant/restaurantItemMedium.html.twig' with {'widget': widget } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget-medium">
                        <h1>{{ iniDicionary['NEW'] }}</h1>
                        <div class="widget-body">
                            {% for widget in footerWidgetsNew %}
                                {% include 'pages/restaurant/restaurantItemMedium.html.twig' with {'widget': widget } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal Newsletter -->
	{% include "pages/home/modals/newsletter.html.twig" %}
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="/assets/js/pages/home/home.js"></script>
    <script type="text/javascript" src="/assets/js/pages/restaurant/restaurantItem.js"></script>
    <script type="text/javascript" src="/assets/js/pages/restaurant/restaurantItemSmall.js"></script>
    <script type="text/javascript" src="/assets/js/pages/restaurant/restaurantItemMedium.js"></script>
    <script type="text/javascript" src="/assets/js/pages/home/modals/newsletter.js"></script>
    <script type="text/javascript" src="/node_modules/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.js"></script>
{% endblock js %}