<div class="col-sm-4 px-2 pb-3 restaurant-item">
    <a href="/restaurant/open/{{ id_restaurant }}">
        <div class="restaurant-tags">
            {% if featured == 1 %}
                <div class="restaurant-tag restaurant-tag-featured float-left">
                    {{ iniDicionary['FEATURED'] }}
                </div>
            {% endif %}
        
            {% if new == 1 %}
                <div class="restaurant-tag restaurant-tag-new float-left">
                    {{ iniDicionary['NEW'] }}
                </div>
            {% endif %}
            
            {% if onsale == 1 %} 
                <div class="restaurant-tag restaurant-tag-onsale float-left">
                    {{ iniDicionary['ONSALE'] }}
                </div>
            {% endif %}
    
            {% if top_rated == 1 %} 
                <div class="restaurant-tag restaurant-tag-top-rated float-left">
                    {{ iniDicionary['TOPRATEDS'] }}
                </div>
            {% endif %}
        </div> 
        <!-- <div class="restaurant-image">
            <img src="<?php echo BASE_URL.'media/restaurants/'.$images[0]['url'] ?>" alt="" width="100%">
        </div> -->
        <!-- <div class="restaurant-name"><?php echo $name ?></div> -->
        <!-- <div class="restaurant-brand"><?php echo $brand_name ?></div> -->
        <!-- <div class="row">
            <div class="col-sm-6">
                <div class="restaurant-price float-left <?php echo (empty($promo_price) ? 'current-price' : 'old-price'); ?>">
                    <?php echo 'R$ '.number_format($price, 2, ',', '.'); ?>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="restaurant-promo-price current-price float-right">
                    <?php echo (!empty($promo_price) ? 'R$ '.number_format($promo_price, 2, ',', '.') : ''); ?>
                </div>
            </div>
        </div> -->
        
        <div class="card">
            <img class="card-img-top" src="/media/restaurants/{{ image }}" alt="Restaurant image">
            
            <div class="separator">
                <img class="restaurant-separator" src="/assets/images/restaurant-separator-white.png" alt="">
            </div>
    
            <div class="card-body">
                <h5 class="card-title restaurant-name text-cc">{{ strlen(name) <= 22 ? name : substr(name, 0, 21) ~ "..." }}</h5>
                <h6 class="card-subtitle restaurant-main-categories">{{ implode(" & ", main_categories_name) }}</h6>
    
                <div class="rating-restaurant-widget rating-restaurant-widget-{{ id_restaurant }} row justify-content-between align-items-center">
                    <div class="col-md-7 pl-0 pr-1">
                        <div class="rating-read-only float-left"></div>
                        <span class="restaurant-rating restaurant-rating-{{ id_restaurant }} float-right">{{ number_format(rating, 1) }}</span>
                        <input type="hidden" class="id-restaurant" value="{{ id_restaurant }}">
                    </div>
    
                    <div class="col px-0 text-right">
                        {% if status == 1 %}
                            <div class="badge badge-pill badge-cc-green">Aberto</div>
                        {% else %}
                            <div class="badge badge-pill badge-cc-gray text-white">Fechado</div>
                        {% endif %}              
                    </div>
                </div>
            </div>
        </div>
    </a>       
</div>