{% set myRestaurant = "active" %}
{% set restaurantDetails = "active" %}

{% extends "admin/templates/base.html.twig" %}

{% block css %}
  <link rel="stylesheet" href="/node_modules/chart.js/dist/Chart.min.css">
  <link rel="stylesheet" href="/assets/admin/css/pages/restaurant/details/details.css">
{% endblock css %}

{% block content %}
  <div class="main-content">
    <section class="section section-restaurant-details">
      <div class="section-header">
        <h1>Detalhes</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1" count-restaurant-purchases="{{ countRestaurantPurchases }}">
            <div class="card-icon bg-primary">
              <i class="far fa-list-alt"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Pedidos Recebidos</h4>
              </div>
              <div class="card-body">
                {{ countRestaurantPurchases }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1" count-restaurant-plates="{{ countRestaurantPlates }}">
            <div class="card-icon bg-success">
              <i class="fas fa-hamburger"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Pratos Cadastrados</h4>
              </div>
              <div class="card-body">
                {{ countRestaurantPlates }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
          <div class="card card-statistic-1">
            <div class="card-icon bg-warning" count-restaurant-ratings="{{ countRestaurantRatings }}">
              <i class="fas fa-star"></i>
            </div>
            <div class="card-wrap">
              <div class="card-header">
                <h4>Avaliações Recebidas</h4>
              </div>
              <div class="card-body">
                {{ countRestaurantRatings }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-12 col-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4>Estatísticas Gerais dos Pedidos</h4>
            </div>
            <div class="card-body">
              <input type="hidden" name="countRestaurantPendingPurchases" value="{{ countRestaurantPendingPurchases }}">
              <input type="hidden" name="countRestaurantAcceptedPurchases" value="{{ countRestaurantAcceptedPurchases }}">
              <input type="hidden" name="countRestaurantInProductionPurchases" value="{{ countRestaurantInProductionPurchases }}">
              <input type="hidden" name="countRestaurantSentPurchases" value="{{ countRestaurantSentPurchases }}">
              <input type="hidden" name="countRestaurantDeliveredPurchases" value="{{ countRestaurantDeliveredPurchases }}">
              <input type="hidden" name="countRestaurantRecusedPurchases" value="{{ countRestaurantRecusedPurchases }}">
              
              <canvas id="dashboardChart" height="150"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4>Últimos Pedidos</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled list-unstyled-border">
                {% for purchase in purchases %}
                  <li class="media">
                    <img class="mr-3 rounded-circle" width="48" height="48" src="{{ purchase['user_image'] ?? '/media/default/users/user-img-default-150x150.jpg' }}" alt="avatar">
                    <div class="media-body">
                      <div class="media-title">{{ purchase['full_name'] }}</div>
                      <span class="text-small text-muted">Acabou de efetuar um pedido!</span>
                    </div>
                  </li>
                {% endfor %}
              </ul>
              <div class="text-center pt-1 pb-1">
                <a href="{{ route('name.restaurant-orders') }}" class="btn btn-primary btn-sm btn-round px-2">
                  Ver Tudo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block js %}
  <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="/assets/admin/js/pages/restaurant/details/details.js"></script>
{% endblock js %}

