{% extends "templates/base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/pages/restaurant/restaurant.css" type="text/css" />
    <link rel="stylesheet" href="/assets/css/pages/restaurant/modals/showPlate.css" type="text/css" />
{% endblock css %}

{% block content %}
    <div class="restaurant-container col-md-12 px-0">
        <div class="restaurant-header">
            <div class="container">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="restaurant-image">
                                <img src="{{ restaurantInfo['image'] ?? '/media/categories/others/others-plates-img-default-150x150.jpg' }}" alt="{{ restaurantInfo['name'] }}">
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="restaurant-content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1 class="restaurant-name">{{ restaurantInfo['name'] }}</h1>

                                        {% set mainCategories = explode(',', restaurantInfo['main_categories']) %}
                                        {% set mainCategoriesNamesArr = [] %}
            
                                        {% for mainCategory in mainCategories %}
                                            {% if mainCategory == categories[mainCategory - 1]['id_category'] %}
                                                {% set mainCategoriesNamesArr = mainCategoriesNamesArr|merge([categories[mainCategory - 1]['name']]) %}
                                                
                                                {% set restaurantInfo = restaurantInfo|merge({'main_categories_name': mainCategoriesNamesArr}) %}
                                            {% endif %}
                                        {% endfor %}

                                        <span class="restaurant-categories">{{ implode(" & ", restaurantInfo['main_categories_name']) }}</span>
                                        <div class="rating-page-restaurant">
                                            <div class="rating-read-only"></div>
                                            <span class="average-rating">3.1</span>
                                            <span class="all-ratings">(96 Avaliações)</span>
                                        </div>
                                        <div class="restaurant-info-1 ml-1">
                                            <span class="restaurant-time mr-3">
                                                <i class="fas fa-truck text-cc-red mr-1"></i>
                                                40~70min
                                            </span>
                                            <span class="restaurant-status">
                                                <i class="fas fa-clock text-cc-red mr-1"></i>
                                                Aberto até as 18:00
                                            </span>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6">
                                        <div class="rating-page-restaurant float-right text-right">
                                            <span class="add-favorites" title="Adicionar aos Favoritos"><i class="fas fa-heart ml-2"></i></span>
                                        </div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>

                    <div class="restaurant-menu">
                        <!-- Nav tabs -->
                        <div class="row nav no-gutters">
                            <a class="col-md-4 restaurant-menu-item active" data-toggle="tab" href="#restaurant-menu"> <i class="fas fa-utensils mr-1"></i> Cardápio</a>
                            
                            <a class="col-md-4 restaurant-menu-item" data-toggle="tab" href="#restaurant-rating"><i class="fas fa-star mr-1"></i> Avaliações (96)</a>
                            
                            <a class="col-md-4 restaurant-menu-item" data-toggle="tab" href="#restaurant-info"><i class="fas fa-info-circle mr-1"></i> Informações</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Tab panes -->
        <div class="tab-content restaurant-body">
            <div class="tab-pane container active" id="restaurant-menu">
                {% if restaurantInfo['plates'] %}
                    {% for category in categoriesOfRestaurant %}    
                        <div class="restaurant-category"><span>{{ categories[category['category_id']-1]['name'] }}</span></div>

                        <div class="row c-px-1 mt-2">
                            {% for plate in restaurantInfo['plates'] %}
                                {% if plate['category_id'] == category['category_id'] %}
                                    <div class="col-md-6 px-1 pb-2 plates">
                                        <div class="col-md-12 plate-content" plate-id="{{ plate['id_plate'] }}">
                                            <div class="row align-items-center">
                                                <div class="col-md-3 plate-image">
                                                    <img src="{{ plate['image'] ?? '/media/categories/others/others-plates-img-default-150x150.jpg' }}" alt="{{ plate['name'] }}">
                                                </div>
                                                <div class="col-md-9 plate-info">
                                                    <div class="plate-title">{{ plate['name'] }}</div>    
                                                    <div class="plate-description"></div>
                                                    <div class="plate-prices">
                                                        <span class="price-old {{ plate['promo'] ? 'old-price' : '' }}">R$ {{ number_format(plate['price']/100, 2, ',', '.') }}</span>

                                                        {% if plate['promo'] %}
                                                            <span class="price-promo ml-3">R$ {{ number_format(plate['promo_price']/100, 2, ',', '.') }}</span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-plates">
                        Este restaurante ainda não possui nenhum prato cadastrado.
                    </div>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="restaurant-rating">
                <div class="container">
                    <div class="restaurant-rating-title"><span>Avaliações</span></div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="reviews-rating">
                                <div class="row no-gutters">
                                    <span id="ratingLevel5" class="review-rating-label ">5 estrelas</span>
                                    <span class="review-rating-progress">
                                        <span id="ratingProgres5" style="width: 91.6666666667%"></span>
                                    </span>
                                    <span id="ratingTotal5" class="review-rating-total">88</span>
                                </div>

                                <div class="row no-gutters">
                                    <span id="ratingLevel4" class="review-rating-label ">4 estrelas</span>
                                    <span class="review-rating-progress">
                                        <span id="ratingProgres4" style="width: 7.2916666667%"></span>
                                    </span>
                                    <span id="ratingTotal4" class="review-rating-total">7</span>
                                </div>

                                <div class="row no-gutters">
                                    <span id="ratingLevel3" class="review-rating-label ">3 estrelas</span>
                                    <span class="review-rating-progress">
                                        <span id="ratingProgres3" style="width: 0%"></span>
                                    </span>
                                    <span id="ratingTotal3" class="review-rating-total">0</span>
                                </div>

                                <div class="row no-gutters">
                                    <span id="ratingLevel2" class="review-rating-label ">2 estrelas</span>
                                    <span class="review-rating-progress">
                                        <span id="ratingProgres2" style="width: 0%"></span>
                                    </span>
                                    <span id="ratingTotal2" class="review-rating-total">0</span>
                                </div>

                                <div class="row no-gutters">
                                    <span id="ratingLevel1" class="review-rating-label ">1 estrela</span>
                                    <span class="review-rating-progress">
                                        <span id="ratingProgres1" style="width: 1.0416666667%"></span>
                                    </span>
                                    <span id="ratingTotal1" class="review-rating-total">1</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="rating-page-restaurant">
                                <span class="average-rating">3.1</span> <span class="average-rating-max">/ 5</span> 
                                <div class="rating-read-only"></div>
                                <span class="d-block">Média para 96 avaliações</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="feedback-action">
                        <form action="">
                            <div class="row justify-content-between no-gutters">
                                <div class="filter-rating">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Todas as Estrelas (96)</option>
                                        <option>5 Estrelas</option>
                                        <option>4 Estrelas</option>
                                        <option>3 Estrelas</option>
                                        <option>2 Estrelas</option>
                                        <option>1 Estrela</option>
                                    </select>
                                </div>
        
                                <div class="filter-current-old">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Mostrar recentes</option>
                                        <option>Mostrar antigos</option>
                                    </select>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="feedback-list">
                        <div class="row feedback no-gutters">
                            <div class="col-md-1">
                                <div class="image">
                                    <img src="/media/default/users/user-img-default-150x150.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="content">
                                    <div class="name">Denilson da Silva Santos</div>
                                    <div class="rating-page-restaurant-by-user rating-read-only"></div>
                                    <div class="comment">Ótimo restaurante! fiz o pedido por esse sistema perfeito e super útil que é o brumas delivery, o prato chegou rapidinho! Hellooooooooooooo World! KKKK</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row feedback no-gutters">
                            <div class="col-md-1">
                                <div class="image">
                                    <img src="/media/default/users/user-img-default-150x150.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="content">
                                    <div class="name">Denilson da Silva Santos</div>
                                    <div class="rating-page-restaurant-by-user rating-read-only"></div>
                                    <div class="comment">Ótimo restaurante! fiz o pedido por esse sistema perfeito e super útil que é o brumas delivery, o prato chegou rapidinho! Hellooooooooooooo World! KKKK</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row feedback no-gutters">
                            <div class="col-md-1">
                                <div class="image">
                                    <img src="/media/default/users/user-img-default-150x150.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="content">
                                    <div class="name">Denilson da Silva Santos</div>
                                    <div class="rating-page-restaurant-by-user rating-read-only"></div>
                                    <div class="comment">Ótimo restaurante! fiz o pedido por esse sistema perfeito e super útil que é o brumas delivery, o prato chegou rapidinho! Hellooooooooooooo World! KKKK</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row feedback no-gutters">
                            <div class="col-md-1">
                                <div class="image">
                                    <img src="/media/default/users/user-img-default-150x150.jpg" alt="">
                                </div>
                            </div>

                            <div class="col-md-11">
                                <div class="content">
                                    <div class="name">Denilson da Silva Santos</div>
                                    <div class="rating-page-restaurant-by-user rating-read-only"></div>
                                    <div class="comment">Ótimo restaurante! fiz o pedido por esse sistema perfeito e super útil que é o brumas delivery, o prato chegou rapidinho! Hellooooooooooooo World! KKKK</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            
            <div class="tab-pane fade" id="restaurant-info">
                <div class="container">
                    <div class="restaurant-information-title">
                        <span>Informações</span>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="delivery-times">
                                <div class="restaurant-information-subtitle form-group w-75">Horários de Funcionamento</div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Segunda</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Terça</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Quarta</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Quinta</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Sexta</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Sábado</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                                <div class="form-group row no-gutters justify-content-between">
                                    <span class="day">Domingo</span>
                                    <span class="hour">10:00 às 22:00</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="contact">
                                <div class="restaurant-information-subtitle form-group">Formas de Contato</div>
                                <div class="form-group row flex-column no-gutters">
                                    <span class="contact-label">
                                        <i class="fas fa-phone-alt text-cc-red"></i>Telefone:
                                    </span>
                                    <span class="phone">(77) 1234-5678</span>
                                </div>
                                <div class="form-group row flex-column no-gutters">
                                    <span class="contact-label">
                                        <i class="fas fa-map-marker-alt text-cc-red"></i>Endereço:
                                    </span>
                                    <span class="address">Rua Hello, bairro World, número 01</span>
                                </div>
                                <div class="form-group row flex-column no-gutters">
                                    <span class="contact-label">
                                        <i class="fas fa-envelope text-cc-red"></i>Email:
                                    </span>
                                    <span class="email">denilson@gmail.com</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="social">
                                <div class="restaurant-information-subtitle form-group">Redes Sociais</div>
                                <div class="social-networks col-md-9 ml-3">
                                    <div class="row justify-content-between">
                                        <div class="social-network row flex-column">
                                            <span class="social-icon">
                                                <i class="fab fa-whatsapp text-cc-red"></i>
                                            </span>
                                            <span class="social-name">Whatsapp</span>
                                        </div>    
                                    
                                        <div class="social-network row flex-column">
                                            <span class="social-icon">
                                                <i class="fab fa-facebook-f text-cc-red"></i>
                                            </span>
                                            <span class="social-name">Facebook</span>
                                        </div>

                                        <div class="social-network row flex-column">
                                            <span class="social-icon">
                                                <i class="fab fa-twitter text-cc-red"></i>
                                            </span>
                                            <span class="social-name">Twitter</span>
                                        </div>

                                        <div class="social-network row flex-column">
                                            <span class="social-icon">
                                                <i class="fab fa-instagram text-cc-red"></i>
                                            </span>
                                            <span class="social-name">Instragram</span>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="payment-online">
                        <div class="restaurant-information-subtitle form-group">Pagamento Online</div>
                        <div class="form-group row no-gutters">
                            <span class="payment-online-methods">
                                <img src="/media/payment-methods/card-amex-40x23.jpg" class="method-1" alt="">
                                <img src="/media/payment-methods/card-mastercard-40x23.jpg" alt="" class="method-2">
                                <img src="/media/payment-methods/paypal-40x23.jpg" alt="" class="method-3">
                                <img src="/media/payment-methods/card-visa-40x23.jpg" alt="" class="method-4">
                                <img src="/media/payment-methods/card-elo-40x23.jpg" alt="" class="method-5">
                            </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="payment-delivery">
                        <div class="restaurant-information-subtitle form-group">Pagamento na Entrega</div>
                        
                        <div class="col-md-5">
                            <div class="row justify-content-between">
                                <div class="form-group row flex-column no-gutters">
                                    <span class="payment-method-name mb-1">Dinheiro</span>
                                    <span class="payment-method-1">
                                        <img src="/media/payment-methods/money-40x23.jpg" alt="">
                                    </span>
                                </div>
                                <div class="form-group row flex-column no-gutters">
                                    <span class="payment-method-name mb-1">Cartão de Débito</span>
                                    <span class="payment-method-2">
                                        <img src="/media/payment-methods/card-mastercard-40x23.jpg" alt="">
                                        <img src="/media/payment-methods/card-visa-40x23.jpg" alt="">
                                        <img src="/media/payment-methods/card-elo-40x23.jpg" alt="">
                                    </span>
                                </div>
                                <div class="form-group row flex-column no-gutters">
                                    <span class="payment-method-name mb-1">Cartão de Crédito</span>
                                    <span class="payment-method-3">
                                        <img src="/media/payment-methods/card-elo-40x23.jpg" alt="">
                                        <img src="/media/payment-methods/card-visa-40x23.jpg" alt="">
                                        <img src="/media/payment-methods/card-mastercard-40x23.jpg" alt="">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals %}
    {% include "pages/restaurant/modals/showPlate.html.twig" %}
{% endblock modals %}

{% block js %}
    <script type="text/javascript" src="/assets/js/pages/restaurant/restaurant.js"></script>
    <script type="text/javascript" src="/assets/js/pages/restaurant/modals/showPlate.js"></script>
{% endblock js %}
