<div class="tab-pane fade pt-0" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
    <div class="card">
        <div class="card-header flex-column align-items-start">
            <h5>Endereço</h5>

            <div class="server-validation">
                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title=""><i class="fas fa-exclamation-circle"></i> Informações incorretas!</a>  
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="restaurantAddress">Endereço</label>
                    <input type="text" id="restaurantAddress" class="form-control" name="restaurantAddress" placeholder="Endereço" value="{{ userLogged['restaurant']['address']['name'] }}">
                </div>

                <div class="form-group col-4">
                    <label for="restaurantComplement">Complemento</label>
                    <input type="text" id="restaurantComplement" name="restaurantComplement" class="form-control" placeholder="Complemento" value="{{ userLogged['restaurant']['address']['complement'] }}">
                </div>
                
                <div class="form-group col-2">
                    <label for="restaurantNumber">Número</label>
                    <input type="text" id="restaurantNumber" class="form-control" name="restaurantNumber" placeholder="N.º" value="{{ userLogged['restaurant']['address']['number'] }}">
                </div>
            </div>  

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="restaurantState">Estado</label>
                    <select id="restaurantState" class="form-control selectric" name="restaurantState">
                        <option value="" disabled>Selecione</option>
                        <option value="5" selected>Bahia - BA</option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="restaurantCity">Cidade</label>
                    <select id="restaurantCity" class="form-control selectric" name="restaurantCity">
                        <option value="" disabled>Selecione</option>
                        <option value="336" selected>Brumado</option>
                    </select>
                </div>
            
                <div class="form-group col-4">
                    <label for="restaurantNeighborhood">Bairro</label>
                    <select id="restaurantNeighborhood" class="form-control selectric" name="restaurantNeighborhood">
                        <option value="" selected disabled>Selecione</option>
                        {% for neighborhood in neighborhoods %}
                            {% if neighborhood['id_neighborhood'] == userLogged['restaurant']['address']['neighborhood_id'] %}
                                <option value="{{ neighborhood['id_neighborhood'] }}" selected>{{ neighborhood['name'] }}</option>        
                            {% else %}
                                <option value="{{ neighborhood['id_neighborhood'] }}">{{ neighborhood['name'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>  

            <button type="submit" class="btn btn-primary submit-restaurant-edit" disabled>
                Salvar
            </button>
        
        </div>
    </div>
</div>