<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Brumas Delivery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/App/assets/plugins/jQuery-ui/css/jquery-ui.min.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/plugins/jQuery-ui/css/jquery-ui.structure.min.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/plugins/jQuery-ui/css/jquery-ui.theme.min.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/bootstrap/config.css" type="text/css"/>
		<link rel="stylesheet" href="/App/assets/css/base.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/pages/home/home.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/pages/home/modals/newsletter.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/widgets/restaurantItem.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/widgets/restaurantItemSmall.css" type="text/css" />
		<link rel="stylesheet" href="/App/assets/css/widgets/restaurantItemMedium.css" type="text/css" />
		<link rel="stylesheet" href="/vendor/fortawesome/font-awesome/css/all.css" type="text/css" />
		<link rel="stylesheet" href="/node_modules/rateyo/min/jquery.rateyo.min.css" type="text/css" />
		<link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css" />
		<link rel="stylesheet" href="/node_modules/@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.min.css" />
		<link rel="stylesheet" href="/node_modules/slick-carousel/slick/slick.css" />
		<link rel="stylesheet" href="/node_modules/slick-carousel/slick/slick-theme.css" />
	</head>
	<body>
		{% set BASE_URL = getCurrentBaseUrl() %}
		<nav class="navbar topnav navbar-expand-lg">
			<div id="navbarNav" class="container collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item menu-border">
						<a class="nav-link menu-border-active" href="{{ BASE_URL }}">{{ iniDicionary['HOME'] }}</a>
					</li>
					<li class="nav-item menu-border">
						<a class="nav-link" href="{{ BASE_URL }}/contact">{{ iniDicionary['CONTACT'] }}</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ iniDicionary['LANGUAGE'] }}
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="{{ BASE_URL}}/lang/set/en">English</a>
							</li>
							<li>
								<a class="dropdown-item active" href="{{  BASE_URL }}/lang/set/pt-br">Português</a>
							</li>
						</ul>
					</li>
					<li class="nav-item menu-border">
						<a class="nav-link" href="{{ BASE_URL }}/login">{{ iniDicionary['LOGIN'] }}</a>
					</li>

					<li class="nav-item menu-border">
						<a class="nav-link" href="{{ BASE_URL }}/register">{{ iniDicionary['REGISTER'] }}</a>
					</li>
				</ul>
			</div>			
		</nav>

		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 logo">
						<a href="{{ BASE_URL }}"><img title="Brumas Delivery" src="/App/assets/images/logo-red.png" /></a>
					</div>
					<div class="col-sm-6 block-header-2">
						<div class="head-help ml-n5"><i class="fas fa-phone-alt"></i>(77) 9999-9999</div>
						<div class="head-email"><i class="fas fa-envelope"></i>contato@<span>brumasdelivery.com.br</span></div>
						
						<div class="search-area">
							<input type="text" name="search" required placeholder="{{ iniDicionary['SEARCHFORANITEM'] }}" value="{{(notEmpty(filtersSelected['searchTerm'])? filtersSelected['searchTerm'] : '') }}"/>
					
							<input type="submit" value="" class="btn-cc-red" id="search" />
						</div>
					</div>
					<div class="col-sm-3">
						<a href="{{ BASE_URL }}/cart">
							<div class="cart-area">
								<div class="cart-icon">
									<div class="cart-quantity">9</div>
								</div>
								<div class="cart-total">
									{{ iniDicionary['CART'] }}<br/>
									<span>R$ 999,99</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</header>

		{% block home %}{% endblock home %}
		
	    <footer>
	    	<div class="sub-area">
	    		<div class="container">
	    			<div class="row">
						<div class="col-xs-12 col-sm-8 offset-sm-2 no-padding">
							<form id="formNewsletter">
								<input type="email" id="email" class="sub-email" placeholder="{{ iniDicionary['SUBSCRIBETEXT'] }}">
								<input type="submit" value="{{ iniDicionary['SUBSCRIBEBUTTON'] }}" name="subscribe" id="subscribe" class="btn-cc-red">
							</form>
						</div>
					</div>
	    		</div>
	    	</div>
	    	<div class="links">
	    		<div class="container">
	    			<div class="row">
						<div class="col-sm-4 logo-footer">
							<a href="{{ BASE_URL }}"><img title="Brumas Delivery" src="{{ BASE_URL }}/App/assets/images/logo-red.png" /></a>
							<br/><br/>
							<strong>Impossível viver sem, a qualquer hora de qualquer lugar!</strong><br/><br/>
						</div>
						<div class="col-sm-8 link-groups">
							<div class="row">
								<div class="col-sm-4">
									<h3>{{ iniDicionary['CATEGORIES'] }}</h3>
									<ul>
										<li><a href="#">Categoria X</a></li>
										<li><a href="#">Categoria X</a></li>
										<li><a href="#">Categoria X</a></li>
										<li><a href="#">Categoria X</a></li>
										<li><a href="#">Categoria X</a></li>
										<li><a href="#">Categoria X</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h3>{{ iniDicionary['INFORMATIONS'] }}</h3>
									<ul>
										<li><a href="#">Menu 1</a></li>
										<li><a href="#">Menu 2</a></li>
										<li><a href="#">Menu 3</a></li>
										<li><a href="#">Menu 4</a></li>
										<li><a href="#">Menu 5</a></li>
										<li><a href="#">Menu 6</a></li>
									</ul>
								</div>
								<div class="col-sm-4">
									<h3>{{ iniDicionary['INFORMATIONS'] }}</h3>
									<ul>
										<li><a href="#">Menu 1</a></li>
										<li><a href="#">Menu 2</a></li>
										<li><a href="#">Menu 3</a></li>
										<li><a href="#">Menu 4</a></li>
										<li><a href="#">Menu 5</a></li>
										<li><a href="#">Menu 6</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
	    		</div>
	    	</div>
	    	<div class="copyright">
	    		<div class="container">
	    			<div class="row">
						<div class="col-sm-6">© <span>Brumas Delivery</span> - {{ iniDicionary['ALLRIGHTRESERVED'] }}.</div>
						<div class="col-sm-6">
							<div class="payments">
								<img src="{{ BASE_URL }}/assets/images/visa.png" />
								<img src="{{ BASE_URL }}/assets/images/visa.png" />
								<img src="{{ BASE_URL }}/assets/images/visa.png" />
								<img src="{{ BASE_URL }}/assets/images/visa.png" />
							</div>
						</div>
					</div>
	    		</div>
			</div>

			<!-- Modal Newsletter -->
			{% include "pages/home/modals/newsletter.html.twig" %}
	    </footer>
		<script type="text/javascript">
			var BASE_URL = '{{ BASE_URL }}';
		</script>
		<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/App/assets/plugins/jQuery-ui/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript" src="/node_modules/rateyo/min/jquery.rateyo.min.js"></script>
		<script type="text/javascript" src="/App/assets/js/base.js"></script>
		<script type="text/javascript" src="/App/assets/js/pages/home/home.js"></script>
		<script type="text/javascript" src="/App/assets/js/widgets/restaurantItem.js"></script>
		<script type="text/javascript" src="/App/assets/js/widgets/restaurantItemSmall.js"></script>
		<script type="text/javascript" src="/App/assets/js/widgets/restaurantItemMedium.js"></script>
		<script type="text/javascript" src="/App/assets/js/pages/home/modals/newsletter.js"></script>
		<script type="text/javascript" src="/node_modules/select2/dist/js/select2.min.js"></script>
		<script type="text/javascript" src="/node_modules/slick-carousel/slick/slick.js"></script>
	</body>
</html>
