<div class="tab-pane fade pt-0" id="pills-address" role="tabpanel" aria-labelledby="pills-address-tab">
    <div class="card">
        <div class="card-header flex-column align-items-start">
            <h5>Endereço</h5>

            <div class="server-validation">
                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" data-html="true" data-original-title=""><i class="fas fa-exclamation-circle"></i> Informações incorretas!</a>  
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="accountAddress">Endereço</label>
                    <input type="text" id="accountAddress" class="form-control" name="accountAddress" placeholder="Endereço" value="{{ userLogged['adresses'][0]['name'] }}">
                </div>

                <div class="form-group col-4">
                    <label for="accountComplement">Complemento</label>
                    <input type="text" id="accountComplement" name="accountComplement" class="form-control" placeholder="Complemento" value="{{ userLogged['adresses'][0]['complement'] }}">
                </div>
                
                <div class="form-group col-2">
                    <label for="accountNumber">Número</label>
                    <input type="text" id="accountNumber" class="form-control" name="accountNumber" placeholder="N.º" value="{{ userLogged['adresses'][0]['number'] }}">
                </div>
            </div>  

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="accountState">Estado</label>
                    <select id="accountState" class="form-control selectric" name="accountState">
                        <option value="" disabled>Selecione</option>
                        <option value="5" selected>Bahia - BA</option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="accountCity">Cidade</label>
                    <select id="accountCity" class="form-control selectric" name="accountCity">
                        <option value="" disabled>Selecione</option>
                        <option value="336" selected>Brumado</option>
                    </select>
                </div>

                <div class="form-group col-4">
                    <label for="accountNeighborhood">Bairro</label>
                    <select id="accountNeighborhood" class="form-control selectric" name="accountNeighborhood">
                        <option value="" selected disabled>Selecione</option>
                        {% for neighborhood in neighborhoods %}
                            {% if neighborhood['id_neighborhood'] == userLogged['adresses'][0]['neighborhood_id'] %}
                                <option value="{{ neighborhood['id_neighborhood'] }}" selected>{{ neighborhood['name'] }}</option>        
                            {% else %}
                                <option value="{{ neighborhood['id_neighborhood'] }}">{{ neighborhood['name'] }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>  

            <button type="submit" class="btn btn-primary submit-profile float-right" disabled>
                Salvar
            </button>
            
        </div>
    </div>
</div>